@media screen and (max-width: 400px) {
  
  #features {
    margin: 0;
    padding: 0;
    width: 100%;    
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
     width: 100%; ;
  }

  #portfolio {
     width: 100%; ;
  }
}
